{% extends 'header.html' %}

{% block content %}
<div class="container">
<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Search
                    <small>{{content}}</small>
                </h1>
                <form method="get">
				{{ filter.form.as_p }}
				<button type="submit">Search</button>
			  </form><br>
			  <ul>
			  {% for user in filter.qs %}
				<li>{{ user.name }} - {{ user.email }}</li>
			  {% endfor %}
			  </ul>
            </div>
        </div>

{% endblock %}